
		<div class="row">
				<div class="system col-lg-2 col-md-2 col-sm-3">
					<a href="">
					<div class="img-computer">
						<img src="/img/computerOn.png" alt="">
					</div>
					Máy 1
					</a>
				</div>
				<div class="system col-lg-2 col-md-2 col-sm-3">
					<a href="">
					<div class="img-computer">
						<img src="/img/computerOn.png" alt="">
					</div>
					Máy 1
					</a>
				</div>
				<div class="system col-lg-2 col-md-2 col-sm-3">
					<a href="">
					<div class="img-computer">
						<img src="/img/computerOn.png" alt="">
					</div>
					Máy 1
					</a>
				</div>
				<div class="system col-lg-2 col-md-2 col-sm-3">
					<a href="">
					<div class="img-computer">
						<img src="/img/computerOn.png" alt="">
					</div>
					Máy 1
					</a>
				</div>
				<div class="system col-lg-2 col-md-2 col-sm-3">
					<a href="">
					<div class="img-computer">
						<img src="/img/computerOn.png" alt="">
					</div>
					Máy 1
					</a>
				</div>
				<div class="system col-lg-2 col-md-2 col-sm-3">
					<a href="">
					<div class="img-computer">
						<img src="/img/computerOn.png" alt="">
					</div>
					Máy 1
					</a>
				</div>
				<div class="system col-lg-2 col-md-2 col-sm-3">
					<a href="">
					<div class="img-computer">
						<img src="/img/computerOn.png" alt="">
					</div>
					Máy 1
					</a>
				</div>
				<div class="system col-lg-2 col-md-2 col-sm-3">
					<a href="">
					<div class="img-computer">
						<img src="/img/computerOn.png" alt="">
					</div>
					Máy 1
					</a>
				</div>
				<div class="system col-lg-2 col-md-2 col-sm-3">
					<a href="">
					<div class="img-computer">
						<img src="/img/computerOn.png" alt="">
					</div>
					Máy 1
					</a>
				</div>
				<div class="system col-lg-2 col-md-2 col-sm-3">
					<a href="">
					<div class="img-computer">
						<img src="/img/computerOn.png" alt="">
					</div>
					Máy 1
					</a>
				</div>
				<div class="system col-lg-2 col-md-2 col-sm-3">
					<a href="">
					<div class="img-computer">
						<img src="/img/computerOn.png" alt="">
					</div>
					Máy 1
					</a>
				</div>
				<div class="system col-lg-2 col-md-2 col-sm-3">
					<a href="">
					<div class="img-computer">
						<img src="/img/computerOn.png" alt="">
					</div>
					Máy 1
					</a>
				</div>
		</div>
	