<div class="profile-card ">

                <img src="<%=user.pic;%>" alt="user" class="profile-photo">
                <h5><a href="#" class="text-white"><%=user.name;%></a></h5>
                <a href="#" class="text-white"><i class="fa fa-user"></i> 1,299 followers</a>
            </div><!--profile card ends-->
            <div> 
            <ul class="nav-news-feed">
              <li><i class="fa fa-home"></i><div><a href="/home">Trang chủ</a></div></li>
              <li><i class="fa fa-list-alt icon1"></i><div><a href="/home/GamesRegistered">Quán nét đã đăng kí</a></div></li>
              <li><i class="fa fa-comments icon4"></i><div><a href="/home/message">Messages</a></div></li>
              <li><i class="fa fa-cog fa-fw"></i><div><a href="#">Setting</a></div></li>
            </ul><!--news-feed links ends-->
            </div>
<div class="btn-logout">
 <a href="/logout" class="btn btn-danger  btn-sm">
  <span class="fa fa-sign-out"></span> Log out
</a> 
<!-- <a href="/logout" class="btn btn-default btn-sm">Logout</a> -->
</div>

<h1></h1>