<form class="mt-4 m-auto" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Tu khoa</label>
    <input type="text" name="q" class="form-control" id="inputSearch" placeholder="Nhap tu khoa...">
   
    <button type="submit" class="btn btn-primary mt-3">Tim kiem</button>
</form>
</div>